body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#kk{
height: 400px;
}

.uno{
    text-align: justify;
    display: flex;
    flex-direction: row;
}
.due{
    margin-top: 100px;
    margin-left: 50px;
}
