extends layout

block content
 div.shop
  a(href="/product/00001/black")
   div.card
    img#ss(src='https://ae01.alicdn.com/kf/HTB1d5vCbizxK1RkSnaVq6xn9VXaC.jpg', alt="immagine bho")
    h5#ll 2.30€
  a(href="/product/00002/red")
   div.card
    img#ss(src="https://ae01.alicdn.com/kf/Hba74fa40b6cc4ccc85698a18ac6ffe3a4.jpg", alt="immagine bho")
    h5#ll 15.99€
  a(href="/product/00003/brown")
   div.card
    img#ss(src="https://ae01.alicdn.com/kf/H12085e9e91f64a178b25acf25897ee23Z.jpg?width=800&height=800&hash=1600", alt="immagine bho")
    h5#ll 9.99€
  a(href="/product/00004/green")
   div.card
    img#ss(src='https://ae01.alicdn.com/kf/H9b125a80ef064d65bc324b5b0e18755ak.jpg', alt="immagine bho")
    h5#ll 20.50€
  a(href="/product/00005/orange")
   div.card
    img#ss(src="https://ae01.alicdn.com/kf/Hcd6dcc16d3d24521b129f38282b93bb0R.jpg", alt="immagine bho")
    h5#ll 7.53€
